<h1>Édition d'un site du Conseil de l'Ordre</h1>

<%= render "form", cdom: @cdom %>

<br>

<div class="text-end m-3">
  <%= link_to "Retour à la liste", cdoms_path, class: "btn btn-success" %>
</div>
