<div class="container-fluid">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h1 class="text-white">Ajouter un CDOM</h1>
  </div>

  <%= render "form", cdom: @cdom %>
</div>
