<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  <div class="card">
<div>Madame, Monsieur, </div>
<div>Veuillez trouver en pièce jointe une demande de remplacement au sein de notre cabinet.</div>
<div>Bien à vous</div>
  </div>
  </body>
</html>
