<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  <div>Un nouvel utilisateur vient de s'enregistrer sur le site !</div> 
  <div>Il s'agit de <%= @user.first_name %> <%= @user.last_name %></div>
  <div> qui s'est inscrit avec le mail suivant <%= @user.email %>.</div>
  <div> Vous pouvez dès à présent autoriser cet utilisateur pour lui </div>
  <div> permettre d'accéder aux remplacements.</div>