<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  <div><%= @new_user.first_name %> <%= @new_user.last_name %> vient de s'enregistrer sur le site !</div>
  <div> Vous pouvez dès à présent autoriser cet utilisateur pour lui </div>
  <div> permettre d'accéder aux plages de remplacements.</div>
  </body>
</html>
