<div class="container m-3">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card text-white bg-secondary mb-3 text-center shadow-lg">
      <div class="card-header">
          <h5>Compte en attente de Validation</h5>
        <div class="card-body">
          <p class="card-text">Votre compte est en attente de validation par un administrateur.</p>
          <p class="card-text">Veuillez prendre le temps de compléter votre profil.</p> 
          <p class="card-text">Merci de transmettre par mail une copie de votre carte d'identité,</p>
          <p class="card-text">de votre RCP et de votre license de remplacement.</p>
        </div>
      </div>
    </div>
  </div>
</div>
