<h1>Édition d'une Mailing List</h1>

<%= render "form", mailing_list: @mailing_list %>

<br>

<div class="text-end m-3">
  <%= link_to "Retour au tableau des mailing-lists", mailing_lists_path, class: "btn btn-success" %>
</div>

