<div class="container mt-4">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h1 class="text-white">Création d'une Nouvelle Mailing List</h1>
  </div>

  <%= render "form", mailing_list: @mailing_list %>
</div>

