
<div class="d-flex justify-content-end m-1">
  <%= link_to new_event_path,
              class: "add-icon",
              aria: { label: 'Ajouter une nouvelle plage de Remplacement' } do %>
    <i class="bi bi-plus-circle-fill"></i>
  <% end %>
</div>
