
<div class="card m-3 mx-auto" style="border-left: 5px solid <%= event.site.color %>; max-width: 30rem;">
  <div class="card-header">
    Détails de la Plage de Remplacement :
  </div>
  <div class="card-body" style="overflow-wrap: break-word;">
    <%= render 'events/event_details', event: event %>
    <%= render 'events/event_settings', event: event if event.editable %>
    <%= render 'events/booking_button', event: event %>
  </div>
</div>
