
<%= form_tag events_path, method: :get, class: 'row g-2 align-items-center', 
             id: 'filter-form', data: { controller: "auto-submit" } do %>
  <%= hidden_field_tag :start_date, @start_date %>
  
  <div class="col-auto">
    <div class="btn-group" role="group">
      <%= render 'events/doctor_filter' %>
      <%= render 'events/site_filter' %>
    </div>
  </div>
<% end %>
