<style>
  .calendar-partial-1-days {
    display: none;
  }

  .calendar-partial-2-days {
    display: none;
  }

  .calendar-partial-3-days {
    display: none;
  }

  .calendar-partial-4-days {
    display: block;
  }

  @media (max-width: 1380px) {

    .calendar-partial-1-days {
    display: none;
  }

    .calendar-partial-2-days {
    display: none;
  }

    .calendar-partial-3-days {
      display: block;
    }

    .calendar-partial-4-days {
      display: none;
    }
  }

  @media (max-width: 1010px) {
    .calendar-partial-1-days {
    display: none;
    }

    .calendar-partial-2-days {
      display: block;
    }

    .calendar-partial-3-days {
      display: none;
    }

    .calendar-partial-4-days {
      display: none;
    }
  }

 @media (max-width: 770px) {
    .calendar-partial-1-days {
    display: block;
    }

    .calendar-partial-2-days {
      display: none;
    }

    .calendar-partial-3-days {
      display: none;
    }

    .calendar-partial-4-days {
      display: none;
    }
  }
</style>

<div id="calendar-partial-container-1-days" class="calendar-partial-1-days">
  <%= render partial: 'shared/calendar_partial_1_days' %>
</div>

<div id="calendar-partial-container-2-days" class="calendar-partial-2-days">
  <%= render partial: 'shared/calendar_partial_2_days' %>
</div>

<div id="calendar-partial-container-3-days" class="calendar-partial-3-days">
  <%= render partial: 'shared/calendar_partial_3_days' %>
</div>

<div id="calendar-partial-container-4-days" class="calendar-partial-4-days">
  <%= render partial: 'shared/calendar_partial_4_days' %>
</div>
