<style>
  .calendar-partial-3-days {
    display: none;
  }

  .calendar-partial-5-days {
    display: block;
  }

  @media (max-width: 767px) {
    .calendar-partial-3-days {
      display: block;
    }

    .calendar-partial-5-days {
      display: none;
    }
  }
</style>

<div id="calendar-partial-container-5-days" class="calendar-partial-5-days">
  <%= render partial: 'shared/calendar_partial_5_days' %>
</div>

<div id="calendar-partial-container-3-days" class="calendar-partial-3-days">
  <%= render partial: 'shared/calendar_partial_3_days' %>
</div>

<script>
  function renderCalendarPartial() {
    const partialContainer5Days = document.getElementById('calendar-partial-container-5-days');
    const partialContainer3Days = document.getElementById('calendar-partial-container-3-days');

    if (window.innerWidth <= 767) {
      partialContainer5Days.style.display = 'none';
      partialContainer3Days.style.display = 'block';
    } else {
      partialContainer5Days.style.display = 'block';
      partialContainer3Days.style.display = 'none';
    }
  }

  document.addEventListener('DOMContentLoaded', renderCalendarPartial);
  window.addEventListener('resize', renderCalendarPartial);
</script>
