<script>
  function renderCalendarPartial() {
    const partialContainer = document.getElementById('calendar-partial-container');
    partialContainer.innerHTML = '';

    fetch('/shared/calendar_partial')
      .then(response => response.text())
      .then(partialHTML => {
        partialContainer.innerHTML = partialHTML;
      });
  }

  document.addEventListener('DOMContentLoaded', renderCalendarPartial);
  window.addEventListener('resize', renderCalendarPartial);
</script>

<style>
  .calendar-partial-3-days {
    display: none;
  }

  .calendar-partial-5-days {
    display: block;
  }

  @media (max-width: 767px) {
    .calendar-partial-3-days {
      display: block;
    }

    .calendar-partial-5-days {
      display: none;
    }
  }
</style>

<div id="calendar-partial-container" class="calendar-partial-5-days">
  <%= render partial: 'shared/calendar_partial_5_days' %>
</div>

<div id="calendar-partial-container" class="calendar-partial-3-days">
  <%= render partial: 'shared/calendar_partial_3_days' %>
</div>
