<div class="card shadow m-3">
  <div class="card-header">
    <h4>Ouvertures à réaliser</h4>
  </div>
  <div class="card-body">
    <%= render 'events/openings/table' %>
    <%= render 'shared/pagination', pagy: @upcoming_pagy if @upcoming_pagy.present? %>
  </div>
  <div class="text-end m-3">
    <%= link_to "Retour", root_path, class: "btn btn-success" %>
  </div>
</div>