<div class="upcoming-events mt-5">
  <h4>Remplacements à Venir</h4>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr class="table-primary">
          <%= render 'data/upcoming_table_headers' %>
        </tr>
      </thead>
      <tbody>
        <% @upcoming_events.each do |event| %>
          <tr>
            <%= render 'data/upcoming_event_row', event: event %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  
  <%= render 'shared/pagination', pagy: @upcoming_pagy if @upcoming_pagy.present? %>
</div>