<%= render 'data/filter_form' %>

<div class="row">
  <div class="col">
    <div class="card shadow-lg m-3">
      <h2 class="card-header">Suivi de Mes Remplacements</h2>
      <div class="card-body">
        <%= render 'data/past_events_table' %>
        <%= render 'data/upcoming_events_table' %>
      </div>

      <div class="text-end m-3">
        <%= link_to "Retour", root_path, class: "btn btn-success" %>
      </div>
    </div>
  </div>
</div>