<h1>Édition des Informations du Médecin</h1>

<%= render "form", doctor: @doctor %>

<br>

<div class="text-end m-3">
  <%= link_to "Retour à la liste des Médecins", doctors_path, class: "btn btn-success" %>
</div>

