<div class="container-fluid">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h1 class="text-white">Ajouter/Éditer un Médecin</h1>
  </div>

  <%= render "form", doctor: @doctor %>
</div>

