<div class="container-fluid">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h1 class="text-white">Ajouter/Éditer un Site</h1>
  </div>

  <%= render "form", site: @site %>
</div>

