
<div class="col-md-6">
  <div class="form-group mb-3">
    <%= form.label :site_id, "Site", class: "col-form-label" %>
    <% if @sites.present? %>
      <%= form.select :site_id, @sites, {}, { class: "form-control" } %>
    <% else %>
      <p class="text-danger">Veuillez d'abord créer un site !</p>
    <% end %>
  </div>

  <div class="form-group mb-3">
    <%= form.label :doctor_id, "Nom du Médecin Remplacé", class: "col-form-label" %>
    <% if @doctors.present? %>
      <%= form.select :doctor_id, @doctors, {}, { class: "form-control" } %>
    <% else %>
      <p class="text-danger">Veuillez d'abord créer un profil médecin !</p>
    <% end %>
  </div>
</div>