<div class="row g-3 mb-4">
  <div class="col-md-6">
    <div class="form-group">
      <%= form.label :site_id, "Site", class: "form-label fw-medium" %>
      <% if @sites.present? %>
        <%= form.select :site_id, @sites, {}, { class: "form-select" } %>
      <% else %>
        <div class="alert alert-warning">
          <i class="bi bi-exclamation-triangle me-2"></i>
          Veuillez d'abord créer un site !
        </div>
      <% end %>
    </div>
  </div>

  <div class="col-md-6">
    <div class="form-group">
      <%= form.label :doctor_id, "Médecin Remplacé", class: "form-label fw-medium" %>
      <% if @doctors.present? %>
        <%= form.select :doctor_id, @doctors, {}, { class: "form-select" } %>
      <% else %>
        <div class="alert alert-warning">
          <i class="bi bi-exclamation-triangle me-2"></i>
          Veuillez d'abord créer un profil médecin !
        </div>
      <% end %>
    </div>
  </div>
</div>