
<div class="row">
  <div class="col-md-6">
    <div class="form-group mb-3">
      <%= form.label :start_time, "Début de la plage", class: "col-form-label" %>
      <%= form.datetime_field :start_time, class: "form-control" %>
    </div>
  </div>

  <div class="col-md-6">
    <div class="form-group mb-3">
      <%= form.label :end_time, "Fin de la plage", class: "col-form-label" %>
      <%= form.datetime_field :end_time, class: "form-control" %>
    </div>
  </div>
</div>